footer {
    background: $three;
    border-top: 5px solid $one;

    p {
        text-align: center;
        margin: 0;
        color: $one;
        padding: 25px;

        a {
            font-weight: bold;
            color: $two;
        }
    }
}