main {
    text-align: center;
    background: $three;
    padding: 50px;

    @media (max-width: 1022px) {
        padding: 10px;
    }

    .translatorForm {
        padding: 50px;

        textarea {
            border: 4px solid $one;
            border-radius: 5px;
            padding: 5px;
            background: $three;
            color: $four;

            &::placeholder {
                color: $four;
            }
        }

        select {
            margin: 0 25px;
            @include button;

            @media (max-width: 1022px) {
                margin: 25px 0;
            }
        }

        @media (max-width: 1022px) {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
    }

    .translatorButtons {

        button {
            margin: 10px;
            @include button;
        }
    }
}