main {
    text-align: center;

    .translatorForm {

        select {
            margin: 0 10px;
        }
    }

    .translatorButtons {

        button {
            margin: 10px;
        }
    }
}