$one: #ff8502;
$two: #1302ff;
$three: #1f1f1f;
$four: white;

@mixin button {
    border-radius: 5px;
    color: $one;
    background: $three;
    border: 2px solid $one;
    transition: 0.3s;

    &:hover, &:focus {
        color: $three;
        background: $one;
    }
}